@model AspNetCore.Identity.Uow.Models.IdentityUserLogin

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>IdentityUserLogin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoginProvider)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoginProvider)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProviderKey)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProviderKey)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProviderDisplayName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProviderDisplayName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Discriminator)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdentityUserLoginId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
